.sidebarCollapsed {
  flex: 0.05;
  display: none;
}

@media screen and(max-width:1200px) {
}
@media screen and(max-width:768px) {
  .sidebarCollapsed {
    position: absolute !important;
    z-index: 999;
    width: 100%;
    bottom: 0 !important;
    display: flex !important;
    justify-content: space-evenly;
    flex-direction: row !important;
    background-color: whitesmoke;
  }
}
@media screen and(max-width:480px) {
}
@media screen and(max-width:320px) {
}
