.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header_left {
  display: flex;
  align-items: center;

  .header_logo {
    object-fit: contain;
    height: 25px;
    margin-left: 20px;
  }
  .header_region {
    color: rgb(114, 114, 114);
    font-size: 12px;
    position: absolute;
    padding: 5px;
    top: 15px;
  }
}

.header_center {
  display: flex;
  align-items: center;

  .header_center_inner {
    display: flex;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    padding: 4px;

    > input {
      flex: 1;
      border: none;
      width: 475px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }

  .header_search {
    width: 50px !important;
    background-color: #fbfbfb;
    border-left: 1px solid lightgray;
    color: gray;
  }
}

.header_right {
  display: flex;
  align-items: center;

  .header_right_icon {
    margin-right: 20px;
  }
}
.mic {
  margin-left: 20px;
}

.navbar_burger:hover {
  cursor: pointer;
}

@media screen and(max-width:1200px) {
  .header_center {
    display: none !important;
  }
  .header_left {
    .MuiIconButton-root {
      display: none !important;
      padding: 0 !important;
    }
    img {
      margin-left: 0 !important;
    }
  }
}
@media screen and(max-width:768px) {
  .header {
    padding: 10px 20px;
  }
}
@media screen and(max-width:480px) {
  .header_right_icon {
    display: none !important;
  }
}
@media screen and(max-width:0px) {
}
