.sidebar {
  flex: 0.2;

  > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin: 10px 0;
  }
  .sidebar_subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(77, 77, 77);
    margin-left: 20px;
    margin-bottom: 5px;
  }
}
