.recommended {
  flex: 1;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0;
  overflow-y: scroll;
  height: 90vh;

  > .recommended_videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and(max-width:1200px) {
}
@media screen and(max-width:768px) {
  .recommended {
    height: 84vh;
  }
}
@media screen and(max-width:480px) {
}
@media screen and(max-width:320px) {
}
